*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/dist
/buildMSVC
*.asv
/matlab/*.bin
/docs/3d/OldVersions
/docs/3d/*.lck
/docs/OldVersions
/docs/*.tmp
/data/out/*.csv
/matlab/*.png
/vsense-libs/lib
/app/src/main/assets/shaders
/vsense-libs/src/main/cpp/vsense_em/resources/shaders
/vsense-libs/src/main/cpp/vsense_gl/resources/shaders
